/* Custom Fonts*/
@font-face{
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face{
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face{
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.success{
  color: green;
};
p.danger{
  color: red;
};
.logo{
  height: 10px;
  width: 10px;
}
nav.navbar{
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}
nav.navbar.scrolled{
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand{
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link{
  font-weight: 400;
  color: #fff ;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
.nav.navbar .navbar-nav a.nav-link.navbar-link:hover, .nav.navbar .navbar-nav a.nav-link.navbar-link.active{
  opacity: 1;
  color:white;
  text-shadow: 0 0 50px white;
  
}
.span.navbar-text{
  display: flex;
  align-items: center;
}
.social-icon{
  display: inline-block;
  margin-left: 14px;
}
.social-icon a{
  width: 42px;
  height: 42px;
  background: transparent;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid #fff;
}
.social-icon a::before{
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #fff;
  color: #393E46;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
  border-color: #fff;
  box-shadow:
    0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #c6e2ff,
    inset 0 0 16px #c6e2ff,
    0 0 32px #c6e2ff,
    inset 0 0 32px #c6e2ff;
}
.social-icon a:hover::before{
  transform: scale(1);
}
.social-icon a img{
  width: 40%;
  z-index: 1;
  transition: 0.3 ease-in-out;
}
.social-icon a:hover img{
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg);
}
.navbar-text button{
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3 ease-in-out;
  
  
}
.navbar-text button span{
  z-index: 1;
}
.navbar-text button::before{
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  
}
.navbar-text button:hover{
  color: #393E46;
  background-color: #EEEEEE;
  border-color: #fff;
  box-shadow:
    0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #c6e2ff,
    inset 0 0 16px #c6e2ff,
    0 0 32px #c6e2ff,
    inset 0 0 32px #c6e2ff;
}
.navbar-text button{
  border-color: #fff;
}
.navbar-tesx button:hover::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active, nav.navbar .navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon{
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus{
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon::after, nav.navbar .navbar-toggler-icon::before{
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon::after{
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before{
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
  border-color: transparent;
}
.App{
  text-align: center;
}
.App-logo{
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference){
  .App-logo{
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Banner */

.banner{
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/62802.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline, .skill .tagline{
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #043044, #00aab3);
  border: 1px solid white;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: white;
}

.banner h1{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg{
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3 ease-in-out;
  line-height: 1;
}
.banner button:hover svg{
  margin-left: 25px;
}
.banner img{
  animation: updown 3s linear infinite
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08 solid #666;
}

/* Skills */
.skill {
  padding: 100px 50px 50px 50px;
  position: relative;
}

.skill-bx{
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2{
  font-size: 45px;
  font-weight: 700;
}
.skill p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}
.skill-slider{
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img{
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* Project */
.project{
  padding: 80px 0;
  position: relative;
  background-image: url("./assets/img/43543.jpg");
  background-size: cover;
}
.project h2{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p{
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills{
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item{
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link{
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project .nav.nav-pills .nav-link::before{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #043044 -5.91, #00aab3 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3 ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before{
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active{
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.proj-imgbx{
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  height: 25vh;
}
.proj-imgbx::before{
  content: "";
  background: linear-gradient(90.21deg, #043044 -5.91%, #00aab3 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before{
  height: 100%;
}
.proj-txtx{
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5 ease-in-out;
  opacity: 0;
  width: 100%;
  color: white;
}
.proj-imgbx:hover .proj-txtx{
  top: 50%;
  opacity: 1;
}
.proj-txtx h4{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span{
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right{
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/* Footer */
.footer {
  background-image: url('./assets/img/curled-black-chart-paper-dark-gray-background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer p{
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
}
/* contact */
.contact{
  background-color: #121212;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form-container{
  margin-top:5vh;
  margin-bottom: 5vh;
  height: 40vh;
  border: 5px solid white;
}
.wrapper{
  width: 420px;
  background: transparent;
  color: #fff;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  border: 2px solid #fff;
  background-color: #00aab3;
  margin-top: 20px;
}
.wrapper .btn:hover{
  background-color: white;
  color: #333;
  border-color: #b8b8b8;
}
.input-box i{
  font-size: 24px;
  margin-bottom: 10px;
}
.wrapper textarea {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  padding: 20px;
  height: 150px;
  margin-bottom: 15px;
}

.wrapper textarea::placeholder {
  color: #fff;
}
.captcha{
  display: flex;
  justify-content: center
}
.contact .bx-comment-edit{
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}
container{
  width: 100%;
}

/* mobile */


@media only screen and (max-width: 968px) {
  .banner .tagline, .skill .tagline{
    font-size: 17px;
  }
  .item h5{
    font-size: 0.75rem;
  }
  .skill-bx .react-multiple-carousel_arrow{
    margin-top:10px
  }

  .contact .wrapper{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer p{
    margin-top: 0px;
    margin-right: 0px;
  }
  .footer .d-flex{
    flex-direction: column;
  }
  .footer img{
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
  }
  .banner h1{
    font-size: 35px;
  }
  .navbar .social-icon{
    margin: 20px;
  }
  .navbar-text button{
    margin-left: 0px;
  }
  .navbar img{
    width: 60px;
    height: 60px;
  }
  .element.style{
    width: 200px;
  }
  .skill-bx{
    padding: 60px 0px;
  }
  .react-multiple-carousel__arrow{
    margin: -9px;
  }
  .project-card-image, .proj-imgbx::before{
    width: 80%;
    border-radius: 20px 20px 20px 20px;
  }
  .proj-txtx span{
    font-size: 11px;
  }
}

/*
Optionnel : 
1 : Changer icone jeu
*/

/*
Au déploiment : 
1 : Intégrer jeu et changer background comme sur le portfolio
*/


/* 
1 : npm install escape-html
2 : Verifier captcha coter serveur et pas front
*/

/* 
FINIS : 

1 : Créer un click contact
2 : Click sur projects ne marche plus
3 : ajouter peut etre une meilleur description à skill, projects, ect
4 : Click sur projet qui renvoie sur le projet
5 : Bien faire les nom, supprimer photo qui ne servent pas
6 : régler responsive
7 : changer format de skills et/ou un peu de front
8 : Intégrer les vrais projets
*/